:root {
--main-color:#212121;
--second-main-color:#757575;
--white:#FFFFFF;
--accent-color:#2196F3;
--background-header:#FFFFFF;
--background-footer:#2F303A;
--background-main: #F5F5F5;
--background-second: #F5F4FA;
--background-accent:#2196F3;
--backgground-portfolio-cards:#EEEEEE;
}


body  {
    font-family: 'Roboto';
}   

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}


.header {
    background-color: var(--background-header);
}

.header-logo {
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;  
        letter-spacing: 0.03em;
        color: #000000;
}
.header-link   {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--main-color);   
}
.header-mail {
        ont-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--second-main-color);
}

.header-tel {
        font-weight: 500;
        font-size: 14px;
        line-height: 11.14;
        letter-spacing: 0.02em;
        color: var(--second-main-color);
}

h1 {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white);
        background-color: var(--background-footer);
    }

.main-button {
        front-family:inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--white);
        background-color: var(--background-accent);
}

.header-link:hover,
.header-link:focus {
        color: var(--accent-color);
}
.header-mail:hover,
.header-mail:focus {
        color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
        color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.fundamental-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-color);
}
.fundamental-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--second-main-color);
}
.properties-head {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color);
}
.properties {
    background-color: var(--background-main);
}
.team {
    background-color: var(--background-second);
}
.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color)
}
.team-members {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color);
}
.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--second-main-color);
}
.team-item {
    background-color: var(--background-header);
}
.footer {
    background-color: var(--background-footer);
}
.footer-logo {
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;  
        color: var(--white)
}
.footer-address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em; 
        color: var(--white)
}
.footer-mail{
        ont-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
.footer-tel {
        ont-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}   

/* стилі для Портфоліо */
.projects {
    background-color: var(--background-main);
}
.project-buton {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color);
        background-color: var(--background-second);
}
.project-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: var(--main-color);
}
.project-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: var(--second-main-color)
}